node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# local env files
.env
.env.local
.env.local*
.env.development.local
.env.test.local
.env.production.local


# macOS
.DS_Store
